<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/stylesheets/style.css" rel="stylesheet" />
  </head>
  <body>
    <a href="/">Homepage</a>
    <div>
      <form action="/new" , method="POST">
        <input
          type="text"
          name="author"
          id="author"
          placeholder="Name"
          required
        />
        <input
          type="text"
          name="message"
          id="message"
          placeholder="Enter a message"
          required
        />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
